@media screen and (max-width: 1350px) {
    .article__slide {
        grid: 1fr / 1fr;
        padding: 20px 30px;
    }

    .article__slide > h2 {
        text-align: center;
        word-break: break-all;
    }

    .article__slide > .article__slide__img-wrapper {
        grid-area: initial;
    }

    .article__slide > .article__slide__img-wrapper > figure {
        display: flex;
        justify-content: center;
    }

    .article__slide > .article__slide__img-wrapper > figure > img {
        min-width: initial;
        max-width: 480px;
    }

    .article__slide .article__slide__tags__wrapper {
        order: 1;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 595px) {
    .article__slide .article__slide__tags {
        grid: 1fr / 1fr;
    }
}

@media screen and (max-width: 551px) {
    .article__slide .article__slide__tags {
        width: 100%;
    }

    .article__slide .result-link,
    .article__slide .recruiting-link,
    .article__slide .kedo-link,
    .article__slide .talents-link,
    .article__slide .cafe-link {
        grid-column: initial;
        grid-area: initial;
    }
}
